body {
  background-color: #131324;
  height: 100vh;
}

.headerHome {
  display: flex;
  background-color: #00000076;
  
}
.headerHome img, h1 {
  align-items: left;
  height: 5rem;
  color: white;
}
.homeNav {
  margin-top: 35px;
  margin-left: 75%;
  padding-right: auto;
  position: absolute;
}
.homeNav a:hover {
  text-decoration: none;
  color: darkred;
}
.homeNav a {
  text-decoration: none;
  color: white;
}
#loginButton {
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-style: ridge;
  margin-right: 10px;
  background-color: #00000076;
  border-color: darkred;
}
#registerButton {
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-style: ridge;
  margin-right: 10px;
  background-color: #00000076;
  border-color: darkred;
  cursor: pointer;
  text-decoration: none;
}
#signoutButton {
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-style: ridge;
  margin-right: 10px;
  background-color: #00000076;
  border-color: darkred;
  cursor: pointer;
  text-decoration: none;
}

.contentHomeTitle {
  text-align: center;
  color: white;
}

.titleHomeImages, .titleHomeImages2{
  text-align: center;
  color: white;
}

.footerHome {
  color: white;
  background-color: #00000076;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.buttonsHome {
  text-align: center;
  padding-bottom: 10px;
}
#newStoryButton {
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-style: solid;
  margin-right: 10px;
  color: white;
  background-color: #00000076;
  border-color: #00000076;
  text-decoration: none;
}
#allStoriesButton {
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-style: solid;
  margin-left: 10px;
  color: white;
  background-color: #00000076;
  border-color: #00000076;
  text-decoration: none;
}
#allStoriesButton:hover, #newStoryButton:hover {
  color: darkred;
}

.allStories {
  text-align: center;
  color: white;
}
.allStories a {
  text-decoration: none;
  color: darkred;
}
.allStories a:hover {
  color: red;
}
.allStoriesContent {
  background-color: #00000076;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 8px;
  padding-top: 2px;
}
.allStoriesContent li {
  list-style: none;
}

.footerHomeHeading {
  text-align: center;
  color: white;
  padding-bottom: 8px;
}

.gameSlideshow {
  border-style: ridge;
  border-color: darkred;
  height: 700px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background-color: #00000076;
}
.gameSlideshow > div {
  height: 650px;
  width: 15200px;
  background: url(./CollageOfGame.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.gameSlideshow .mover1 {
  animation: moveSlideshow 35s linear infinite;
}
.gameSlideshow .mover2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  animation: moveSlideshow 45s linear infinite;
}
.gameSlideshow:hover .mover2 {
  opacity: 1;
}

.team img {
  border-radius: 50px;
  margin-left: 20px;
  height: 60px;
  width: 60px;
}

.filmSlideshow {
  border-style: ridge;
  border-color: darkred;
  height: 300px;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background-color: #00000076;
}
.filmSlideshow > div {
  height: 650px;
  width: 13200px;
  background: url(./movieCollage.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.filmSlideshow .mover3 {
  animation: moveSlideshow 40s linear infinite;
}
.filmSlideshow .mover4 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  animation: moveSlideshow 50s linear infinite;
}
.filmSlideshow:hover .mover4 {
  opacity: 1;
}
@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}